body .autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#loadDataHistory td {
    cursor: pointer;
}

/* Test Layout */
.row {
    max-width: 99vw !important;
}

#fixed-side {
    position: fixed;
    top: 0;
}

#right {
    position: absolute;
    right: 0;
}

#spinner {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: absolute;
}

#spinner .spinner-border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 4rem;
    height: 4rem;
}

@media screen and (max-width: 1000px){
    #fixed-side {
        display: none;
    }
}