html {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    line-height: 1.4;
}

body {
    overflow-x: hidden;
}

#sound {
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-size: 1rem;
    right: 2%;
    outline: none;
    position: absolute;
    top: 2%;
    z-index: 100;
}

/* Top Section */
#start {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    z-index: 100;
}

#start:before {
    background: linear-gradient(to right, rgba(36, 11, 54, 0.4), rgba(195, 20, 49, 0.3));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* Video */
#background {
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -2;
}

/* Main Text */
header {
    margin-top: 15% !important;
    padding-left: 4%;
    text-align: center;
    z-index: 30;
}

header h1 {
    color: white;
    font-family: 'Syncopate', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 3vw;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

header h1 span {
    display: block;
    font-size: 4.5rem;
    font-weight: bolder;
    letter-spacing: -0.9vw;
}

/* Start Button */
.startButton:focus {
    box-shadow: none !important;
}

/* Animated Arrow */
.arrow {
    color: white;
    text-align: center;
}

.arrow p {
    font-size: 0.8rem;
}

/* Information Sections */

.information {
    background-color: white;
    padding: 7%;
    text-align: justify;
}

#flights {
}

#hotels {
    background-color: cornflowerblue;
    color: white;
}

#search {
}

.tutorial-video {
    width: 100%;
}

/* Footer Section */
footer {
    background-color: #335AA1;
    color: white;
    padding: 3%;
    padding-left: 7%;
    text-align: justify;
}

footer p,li{
    font-size: 1rem !important;
    font-weight: lighter;
}

footer ul {
    padding-left: 0;
}

footer hr {
    background-color: white;
    height: 1px;
    margin: 0;
    margin-right: auto;
    width: 70vw;
}

footer p.mutedText {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem !important;
    margin: 0;
    margin-top: 10px;
}

@media screen and (max-width: 800px){
    header h1{
        font-size: 2rem;
    }

    header h1 span {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 600px){
    header h1{
        font-size: 1.5rem;
    }

    header h1 span {
        margin-top: 20px !important;
        font-size: 2.2rem;
    }
}


/* Navigation Page */

#full_page_div {
    height: 100vh;
    overflow: hidden;
}

#full_page_div > div {
    align-items: center;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

#hotels_navigate {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('../images/bedroom.jpg');
    text-shadow: violet 5px 2px;
}

#flights_navigate {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('../images/flights.jpg');
    text-shadow: coral 5px 2px;
}

#full_page_div > div:hover {
    transform: scale(1.3);
}

a.stretched-link, a.stretched-link:hover, a.stretched-link:active {
    color: white !important;
}